@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-fonts {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0px;
  padding: 0px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
}
.navbar > ul {
  display: flex;
  align-items: center;
  gap: 40px;
}
.navbar > ul > li {
  list-style: none;
}
.navbar > ul > li > a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: rgb(66, 66, 66);
}
.logo {
  color: rgb(19, 19, 19);
  font-family: Work Sans;
  font-size: 45px;
  font-weight: 700;
  line-height: 53px;
  letter-spacing: 0%;
  text-align: center;
}
.background-color {
  background: rgba(255, 144, 14, 0.1);
}

/* banner section */
.banner {
  max-width: 1200px;
  margin: 90px auto;
}
.banner-container {
  max-width: 860px;
  margin: 0 auto;
  text-align: center;
}
.banner-container h1 {
  color: rgb(19, 19, 19);
  font-family: Work Sans;
  font-size: 64px;
  font-weight: 700;
  line-height: 75px;
  letter-spacing: 0%;
  text-align: center;
}
.banner-container p {
  color: rgb(114, 114, 114);
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
}
.banner-container button {
  border-radius: 8px;
  border: none;
  padding: 21px 25px;
  background: rgb(255, 144, 14);
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 70px;
}
.banner-image img {
  max-width: 1200px;
  padding-bottom: 45px;
}

/* Quick list of Our Features section styles */
.quick-list-container {
  max-width: 1150px;
  margin: 0 auto;
}
.quick-list-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
.grid-image {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 10px;
}
.quick-list-title-item {
  font-family: Work Sans;
  font-size: 45px;
  font-weight: 700;
  line-height: 53px;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(19, 19, 19);
}
.quick-list-description {
  color: rgb(114, 114, 114);
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 10px;
}
.quick-list-button {
  border-radius: 8px;
  border: none;
  padding: 21px 25px;
  background: rgb(255, 144, 14);
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 15px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 10px;
}
